In [1]:
import os
import sys
import numpy as np
import pandas as pd
import json
import random

In [2]:
train_file = '/data/sulixin/research/contest/wikiqa/WikiQACorpus/WikiQA-train.tsv'
dev_file = '/data/sulixin/research/contest/wikiqa/WikiQACorpus/WikiQA-dev.tsv'
test_file = '/data/sulixin/research/contest/wikiqa/WikiQACorpus/WikiQA-test.tsv'
dev_filter = '/data/sulixin/research/contest/wikiqa/WikiQACorpus/'

In [3]:
train = pd.read_csv(train_file, sep='\t')
dev = pd.read_csv(dev_file, sep='\t')
test = pd.read_csv(test_file, sep='\t')

In [10]:
def func(x):
    rv = {'candidates': x['Sentence'].tolist(), 'query': x['Question'].iloc[0], 
          'labels': x['Label'].tolist(), 'title': x['DocumentTitle'].iloc[0]}
    return pd.Series(rv)

def gt_cnt(li):
    return len([x for x in li if x==1])

def word_len(t):
    return len(t.split())

def avg_word_len(x):
    def avg(li):
        return sum(li) * 1 / len(li)
    return avg([word_len(y) for y in x])
        
        
def my_stat(data):
    df = data.groupby(['QuestionID']).apply(func)
    df['q_len'] = df['query'].apply(word_len)
    df['p_cnt'] = df['labels'].apply(len)
    df['gt_cnt'] = df['labels'].apply(gt_cnt)
    df['p_len'] = df['candidates'].apply(avg_word_len) 
    print(df['gt_cnt'].value_counts().to_dict())
    print(json.dumps(df[df['gt_cnt'] == 2][['query','labels','candidates']].iloc[2].to_dict(), indent=2, ensure_ascii=False))
    return df.describe()

my_stat(train)

{0: 1245, 1: 744, 2: 103, 3: 20, 7: 2, 5: 1, 6: 1, 4: 1}
{
  "query": "where did hurricane katrina begin",
  "labels": [
    1,
    0,
    0,
    0,
    1,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "candidates": [
    "Hurricane Katrina was the deadliest and most destructive Atlantic hurricane of the 2005 Atlantic hurricane season .",
    "It was the costliest natural disaster, as well as one of the five deadliest hurricanes , in the history of the United States .",
    "Among recorded Atlantic hurricanes , it was the sixth strongest overall .",
    "At least 1,833 people died in the hurricane and subsequent floods, making it the deadliest U.S. hurricane since the 1928 Okeechobee hurricane ; total property damage was estimated at $81 billion (2005 USD), nearly triple the damage brought by Hurricane Andrew in 1992.",
    "Hurricane Katrina formed over the Bahamas on August 23, 2005 and crossed southern Florida as a moderate Category 1 hurricane , causing some deaths and flooding there before strengthening rapidly in the Gulf of Mexico .",
    "The hurricane strengthened to a Category 5 hurricane over the warm Gulf water, but weakened before making its second landfall as a Category 3 hurricane on the morning of Monday, August 29 in southeast Louisiana.",
    "It caused severe destruction along the Gulf coast from central Florida to Texas, much of it due to the storm surge .",
    "The most significant number of deaths occurred in New Orleans , Louisiana , which flooded as the levee system catastrophically failed , in many cases hours after the storm had moved inland.",
    "Eventually 80% of the city and large tracts of neighboring parishes became flooded, and the floodwaters lingered for weeks.",
    "However, the worst property damage occurred in coastal areas, such as all Mississippi beachfront towns , which were flooded over 90% in hours, as boats and casino barges rammed buildings, pushing cars and houses inland, with waters reaching 6–12 miles (10–19 km) from the beach.",
    "The hurricane surge protection failures in New Orleans are considered the worst civil engineering disaster in U.S. history and prompted a lawsuit against the U.S. Army Corps of Engineers (USACE), the designers and builders of the levee system as mandated by the Flood Control Act of 1965 .",
    "Responsibility for the failures and flooding was laid squarely on the Army Corps in January 2008 by Judge Stanwood Duval , U.S. District Court, but the federal agency could not be held financially liable due to sovereign immunity in the Flood Control Act of 1928 .",
    "There was also an investigation of the responses from federal, state and local governments, resulting in the resignation of Federal Emergency Management Agency (FEMA) director Michael D. Brown , and of New Orleans Police Department (NOPD) Superintendent Eddie Compass .",
    "Several agencies including the United States Coast Guard (USCG), National Hurricane Center (NHC), and National Weather Service (NWS) were commended for their actions.",
    "They provided accurate hurricane weather tracking forecasts with sufficient lead time.",
    "Even the most insistent appeals from national, state and local public officials to residents to evacuate before the storm did not warn that the levees could breach and fail."
  ]
}

             q_len        p_cnt       gt_cnt        p_len
count  2117.000000  2117.000000  2117.000000  2117.000000
mean      6.913085     9.611242     0.490789    22.746889
std       2.415295     6.228443     0.687819     5.977676
min       2.000000     1.000000     0.000000     2.250000
25%       5.000000     5.000000     0.000000    19.000000
50%       6.000000     8.000000     0.000000    22.333333
75%       8.000000    13.000000     1.000000    25.818182
max      21.000000    30.000000     7.000000    82.666667

In [5]:
my_stat(dev)

{0: 170, 1: 115, 2: 9, 4: 1, 3: 1}

            q_len       p_cnt      gt_cnt       p_len
count  296.000000  296.000000  296.000000  296.000000
mean     6.952703    9.233108    0.472973   22.195396
std      2.648529    6.226492    0.610040    5.791607
min      2.000000    1.000000    0.000000    7.033333
25%      5.000000    5.000000    0.000000   18.819444
50%      6.000000    8.000000    0.000000   22.394444
75%      8.000000   12.000000    1.000000   25.520833
max     21.000000   30.000000    4.000000   41.750000

In [6]:
my_stat(test)

{0: 389, 1: 206, 2: 25, 4: 5, 3: 5}

            q_len       p_cnt      gt_cnt       p_len
count  630.000000  630.000000  630.000000  630.000000
mean     7.006349    9.707937    0.461905   22.736495
std      2.396332    6.359433    0.686673    8.496009
min      3.000000    1.000000    0.000000    4.000000
25%      5.000000    5.000000    0.000000   19.000000
50%      7.000000    8.000000    0.000000   22.552778
75%      8.000000   13.000000    1.000000   25.761029
max     19.000000   30.000000    4.000000  181.666667

# 总结
数据集规模较小总共~3000问题，每个问题存在一个或者多个正确的句子

LIST OF FILES

LICENSE.pdf -- Microsoft Research Data License Agreement for Microsoft Research WikiQA Corpus

Guidelines_Phase1.pdf   -- The crowdsourcing labeling guidelines for the main annotation task
Guidelines_Phase2.pdf   -- The crowdsourcing labeling guidelines for the verification task

WikiQA.tsv                                          -- Original data
WikiQA-train.tsv, WikiQA-dev.tsv, WikiQA-test.tsv   -- train/dev/test split of WikiQA.tsv used in this paper
WikiQA-train.txt, WikiQA-dev.txt, WikiQA-test.txt   -- slightly processed data (tokenization)
WikiQA-train.ref, WikiQA-dev.ref, WikiQA-test.ref   -- reference files in TREC evaluation format
WikiQA-dev-filtered.ref, WikiQA-test-filtered.ref   -- removed all questions without correct answers in the candidate sentence sets (for Answer Sentence Selection evaluation)

WikiQASent.pos.ans.tsv   -- Questions with answer sentence annotated with answer phrases

Evaluation Code:
eval.py            -- python evaluation code for evaluation of the Answer Triggering task